body {
  background: darkcyan;
  color: white;
}
.jumbotron {
  background-color: #007272;
  text-align: center;

}
.picard {
  float: right;
}
a {
  color: darkslategray;
}
.important {
  color: maroon;
  font-style: oblique;
}

ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}
img {
  margin: auto;
  width: 40%;
  height: auto;
  display: block;
  border: white solid;
}

.favorite {
  color: seashell;
}
.black-background {
  background-color: black;
}
.blue-background {
  background-color: mediumturquoise;
}